{% extends 'base.html' %}

{% block content %}
<!--   выводим заголовок -->
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
<!--{% for post in posts %} — это цикл for в Jinja , он нужен для создания цикла для каждого элемента в списке posts, -->
<!--который был передан функцией index() в строке return render_template('index.html', posts=posts)-->
        {% for post in posts %}
<!-- Делаем привязку заголовка каждого поста к соответствующей странице.
Здесь передаем 'post' в функцию url_for() в качестве первого аргумента. Это имя функции просмотра post(),
и поскольку она принимает аргумент post_id, присваиваем значение post['id'].
Функция url_for() возвращает правильный URL для каждого поста на основании его ID. -->
<!--возвращает правильный URL для каждого поста на основании его ID-->
       <a href="{{ url_for('post', post_id=post['id']) }}">
<!--   выводим заголовок каждого поста-->
            <h2>{{ post['title'] }}</h2>
        </a>
<!--   выводим дату каждого поста-->
        <span class="badge badge-primary">{{ post['created'] }}</span>
<!--добавляем ссылку, которая указывает на страницу редактирования для каждого поста на странице индекса.-->
<!--добавляем тег <a> для ссылки на функцию просмотра edit(), передавая значение post['id'] для того, -->
<!--    чтобы подключиться к странице редактирования каждого поста с помощью ссылки Edit-->
    <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}